.navbar {
    background-color: #725165;
}

.navbar ul li a {
    color: #fff !important;
    font-size: 15px;
    transition: .5s;
}

.navbar ul li a:hover {
    background-color: #fff !important;
    color: #000000 !important;
}

.navbar-brand {
    color: #fff !important;
    font-size: 20px;
}


/***** HOME *****/

#home {
    background: url("pexels-ave-calvar-martinez-4334253.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 800px;
}

.home-wrap {
    padding-top: 140px;
}

.home-header {
    font-family: 'Oswald';
    font-size: 60px;
    color: #fff;
}

h2 {
    font-family: 'Oswald';
    font-size: 40px;
    color: #fff;
}

.home-line {
    border: 0;
    height: 5px;
    width: 90%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #725165, rgba(0, 0, 0, 0));
    animation:  fade 3s;
}


@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.btn {
    margin: 10px;
    width: 100px;
    max-height: 30px;
    border-radius: 5px;
    background-color: #725165;
    color: #fff;
    border: none;
    font-size: 25px;
    font-size: 12px;
}
.one{
animation: button 1s;
}
.two{
    animation: button 2s;
}
.tree {
    animation: button 3s;
}
.four{
    animation:button  4s;
}
@keyframes button{
    0%{
        opacity: 0;
        margin-top: 100px;
    }
    100%{
        opacity: 1;
        margin-top: 10px;
    }
}
.btn:hover {
    background-color: #fff;
    color: #4e1f46;
}


/***** ABOUT *****/

#about {
    padding-top: 5%;
    background-color: #FDFAF6;
    color: rgb(0, 0, 0);
    padding-bottom: 80px;
}

h1 {
    font-family: 'Oswald';
    text-align: center;
}

.line {
    margin-top: 30px;
    width: 50%;
    height: 2px;
    background-color: #725165;
    border: none;
}

.about-text {
    font-size: 23px;
    font-family: 'PT Serif', serif;
    text-align: justify;
}

.camp-link {
    color: #fff;
}

.skills-list li {
    font-size: 18px;
    list-style-position: inside;
    text-align: justify;
    margin-left: 40px;
}


/***** PORTFOLIO *****/

#portfolio {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #725165;
}

.portfolio-header {
    color: #000;
}

.placeholder-item {
    margin-top: 40px;
    text-align: center;
    overflo: hidden;
}

.placeholder-desc {
    margin-top: 10px;
    font-size: 16px;
    color: #000;
}

img {
    border: 1px solid orange;
    border-radius: 5px;
    width: 100%;
}


/***** CONTACT *****/

#contact {
    background-color: #FDFAF6;
    padding-top: 10px;
    padding-bottom: 65px;
}

.contact-header {
    font-family: "Oswald";
    color: #000;
    font-size: 40px;
}

.contact-line {
    background-color: rgb(0, 0, 0);
    border: none;
    height: 2px;
    width: 40%;
}

form {
    margin-top: 50px;
}

input {
    border-radius: 10px;
    width: 40%;
    height: 30px;
    margin: 10px;
}

#message {
    border-radius: 10px;
    width: 40%;
    height: 200px;
    margin-top: 10px;
}

#submit-button {
    widh: 10%;
    height: 40px;
}


/***** FOOTER *****/

footer {
    background-color: #458B74;
    height: 40px;
}

.footer-menu {
    margin-left: -30px;
}

.footer-menu li {
    display: inline;
    margin: 10px;
}

.footer-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

@media screen and (max-width: 1000px) {
    .about-text {
        font-size: 15px;
    }
    h3 {
        font-size: 16px;
    }
    .skills-list li {
        font-size: 15px;
    }
}